.main {
  max-width: 100vw;
  min-height: 90vh;
  padding-bottom: 12rem;
  background-size: cover;

  @media screen and (max-width: 850px) {
    max-height: 60vh;
    background-position: center;
  }

  @media screen and (max-width: 700px) {
    min-height: 40vh;
    padding-top: 6rem;
  }

  .main-titles {
    padding-top: 9rem;
    padding-left: 4.6rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 45rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.13);

    @media screen and (max-width: 850px) {
      padding-left: 1rem;
      padding-top: 8rem;
    }

    @media screen and (max-width: 700px) {
      padding-top: 1rem;
    }

    .title-over {
      font-size: 1.7em;
      margin-bottom: 1rem;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .title-main {
      font-size: 6.5em;
      line-height: 0.9em;
      margin-bottom: 3rem;

      @media screen and (max-width: 850px) {
        font-size: 5em;
      }

      @media screen and (max-width: 700px) {
        font-size: 2.5em;
        padding-top: 2rem;
      }
    }

    .main__text__spans {
      padding-bottom: 1rem;
      font-size: 1.5em;

      .year,
      .age,
      .seasons {
        margin-right: 0.8rem;
      }

      .age {
        padding: 0.3rem 0.6rem;
      }

      .seasons {
        font-weight: bold;
      }

      @media screen and (min-width: 700px) {
        display: none;
      }
    }
  }

  .title-serie {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5em;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

// SELECTION
.main-detalle__text {
  padding-left: 5.5rem;
  padding-top: 7rem;
  width: 100%;
  max-width: 50rem;

  @media screen and (max-width: 850px) {
    padding-left: 1rem;
  }

  @media screen and (max-width: 700px) {
    padding-top: 2rem;
  }

  &__mobile {
    padding-bottom: 1rem;
    font-size: 4.5em;

    @media screen and (max-width: 1000px) {
      font-size: 3rem;
    }
  }

  &__spans {
    font-size: 1.2em;
    margin-right: 0.8rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 700px) {
      margin-top: 0;
    }

    .coincidence {
      color: #1fd425;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .age {
      border: 1px solid #979797;
      border-radius: 8px;
      padding: 0.3rem 0.6rem;

      @media screen and (max-width: 700px) {
        border: none;
      }
    }

    .seasons {
      font-weight: bold;
    }
  }

  .thumbs {
    display: inline-flex;
    height: 3.5rem;
    width: 3.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    margin: 0.5rem 0.5rem;
    transition: all 0.2s;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .icon {
      font-size: 1.7rem;
    }
  }

  .red {
    border: rgb(255, 0, 0) solid 2px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }

  .green {
    border: rgb(1, 207, 1) solid 2px;
    background-color: rgb(1, 207, 1);
    color: rgb(1, 207, 1);
  }
}

.title-sinopsis {
  font-size: 1.5em;
  margin-top: 2rem;

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.title-box {
  display: inline-block;
  background-color: rgba(157, 151, 151, 0.651);
  border-radius: 9px;
  border: none;
  font-size: 1.3em;
  width: 12rem;
  height: 3.8rem;
  text-align: center;
  vertical-align: center;
  margin-right: 1.5rem;
  margin-top: 1rem;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 500px) {
    padding: 1rem 1rem;
    margin-right: 0.5rem;
  }
}

.lista {
  cursor: pointer;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.title-box-red {
  background-color: rgb(255, 0, 0);
}
