@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;


    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}


.container {
    margin-top: -.1rem;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    padding-bottom: 6rem;

    
}