.header {
    position: fixed;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.801218);
    display: flex;
    align-items: center;
    padding: .8rem 0;
    width: 100vw;
    z-index: 1000;


    .header-logo {
        margin-left: 6rem;
        height: 40px;
        margin-top: 1rem;

        @media screen and (max-width: 1200px) {
            margin-left: 2rem;
        }

        @media screen and (max-width:850px){
            margin-left: 8rem;;    
        }
    }

    .nav-links {
        width: 60%;
        display: inline-flex;
        justify-content: space-evenly;


        @media screen and (max-width:850px) {
            display: none;
            // flex-direction: column;
            // position: absolute;
            // top: 84.4px;
            // left: 0;
            // background-color: rgba(0, 0, 0, 0.897);
            // padding-left: 1.5rem;
            // height: 100vh;
            // justify-content: start;
        }


        // @media screen and (max-width:1200px) {
        //     width: 75%;
        // }

        // &.open {
        //     display: inline-flex;
        //     width: 25rem;
        // }



        .nav-link {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3em;
            white-space: nowrap;

            @media screen and (max-width:1100px) {
                font-size: 1.1em;
            }

            // @media screen and (max-width:850px) {
            //     padding: 1rem 0;
            // }

        }
    }
}


//MENU
.menu-container{
    outline: none;
    border: none;
    @media screen and (min-width:850px){
        display: none;    
    }

}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;

    
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ffffff;
  }
   
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #ffffff7a;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #ffffff;
  }
   
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    top: 84.6px;
    height: 100%;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: rgba(0, 0, 0, 0.801218);;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 1.3rem;
    margin: 1rem 0;
    cursor: pointer;

    &:focus{
        outline: none;
    }
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }