img.series-carrousel__image-series {
  width: 320px;
  height: 180px;
  object-fit: cover;
}

img.series-carrousel__image {
  width: 320px;
  height: 180px;
  object-fit: cover;

  @media screen and(max-width:768px) {
    display: none;
  }
}

img.series-carrousel__image-mobile {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.progress-bar {
  margin-top: 0.6rem;
  background-color: #858585;
  height: 0.4rem;
  width: 13.8rem;

  &__completed {
    background-color: #c60f0e;
    height: 100%;
  }
}

.series-carrousel__text {
  width: 20em;

  &__h3 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  &__h4 {
    font-size: 1em;
    font-weight: lighter;
  }

  @media screen and (max-width: 600px) {
    height: 12rem;
  }
}

.series-carrousel__text-serie {
  @media screen and (max-width: 600px) {
  }
}
