@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.series-title {
  padding-top: 1rem;
  padding-left: 2.5rem;
  font-size: 1.5em;
}
